<%= form_for(parent_profile) do |f| %>
  <% if parent_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent_profile.errors.count, "error") %> prohibited this parent_profile from being saved:</h2>

      <ul>
      <% parent_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <strong><%= f.label :name %>:</strong>
    <%= f.text_field :name %>
  </p>

  <p class="field">
    <strong><%= f.label :gender %>:</strong>
    <%= f.select :gender, ParentProfile::GENDERS %>
  </p>

  <p class="field">
    <strong><%= f.label :birthday %>:</strong>
    <%= f.date_field :birthday %>
  </p>

  <p class="actions">
    <%= f.submit "Update" %>
  </p>
<% end %>
