<p>
  <strong>Name:</strong>
  <%= @parent_profile.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @parent_profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @parent_profile.birthday %>
</p>

<%= link_to 'Edit', edit_parent_profile_path(@parent_profile) %> |
<%= link_to 'Babies', babies_path %>
