<p>
  <strong>Name:</strong>
  <%= @parent_profile.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @parent_profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @parent_profile.birthday %>
</p>

<% if current_parent.id == @parent_profile.parent.id %>
	<%= link_to 'Edit', edit_parent_profile_path(@parent_profile) %> |
<% end %>
<%= link_to 'Babies', babies_path %>
