<%= form_for(baby) do |f| %>
  <% if baby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(baby.errors.count, "error") %> prohibited this baby from being saved:</h2>

      <ul>
      <% baby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <strong><%= f.label :name %>:</strong>
    <%= f.text_field :name %>
  </p>

  <p class="field">
    <strong><%= f.label :nick, "Nick Name" %>:</strong>
    <%= f.text_field :nick %>
  </p>

  <p class="field">
    <strong><%= f.label :birthday %>:</strong>
    <%= f.date_field :birthday %>
  </p>

  <p class="field">
    <strong><%= f.label :birth_height, "Birth Height" %>:</strong>
    <%= f.number_field :birth_height %> cm
  </p>

  <p class="field">
    <strong><%= f.label :birth_weight, "Birth Weight" %>:</strong>
    <%= f.number_field :birth_weight %> g
  </p>

  <p class="actions">
    <%= f.submit "Create Baby Profile"%>
  </p>
<% end %>
