<h1>Babies</h1>

<table id="babies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick</th>
      <th>Birthday</th>
      <th>Birth Height</th>
      <th>Birth Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= link_to baby.name, baby %></td>
        <td><%= baby.nick %></td>
        <td><%= baby.birthday %></td>
        <td><%= baby.birth_height %> cm</td>
        <td><%= baby.birth_weight %> g</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baby Profile', new_baby_path %>
