<h1>Babies</h1>

<table id="babies">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick</th>
      <th>Birthday</th>
      <th>Birth Height</th>
      <th>Birth Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.name %></td>
        <td><%= baby.nick %></td>
        <td><%= baby.birthday %></td>
        <td><%= baby.birth_height %> cm</td>
        <td><%= baby.birth_weight %> g</td>
        <td><%= link_to 'Home page', baby %></td>
        <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
        <td><%= link_to 'Delete', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baby', new_baby_path %>
