<section id="baby_profile_section">
  <h1>Baby Profile</h1>

  <p>
    <strong>Name:</strong>
    <%= @baby.name %>
  </p>

  <p>
    <strong>Nick:</strong>
    <%= @baby.nick %>
  </p>

  <% has_father = has_mother = false %>
  <% @baby.parents.each do |parent| %>
    <p>
      <% if parent.parent_profile.gender == "Male" %>
        <% has_father = true %>
        <strong><%= "Father:" %></strong>
      <% end %>
      <% if parent.parent_profile.gender == "Female" %>
        <% has_mother = true %>
        <strong><%= "Mother:" %></strong>
      <% end %>
      <%= parent.parent_profile.name %>
    </p>
  <% end %>

  <p>
    <strong>Birthday:</strong>
    <%= @baby.birthday %>
  </p>

  <p>
    <strong>Birth height:</strong>
    <%= @baby.birth_height %> cm
  </p>

  <p>
    <strong>Birth weight:</strong>
    <%= @baby.birth_weight %> g
  </p>

  <%= link_to 'Edit Profile', edit_baby_path(@baby) %>
  <% if not has_father %>
    | <%= link_to 'Add Father', new_baby_parent_path(@baby) %> 
  <% end %>
  <% if not has_mother %>
    | <%= link_to 'Add Mother', find_parent_for_baby_path(@baby) %> 
  <% end %>
  
</section>

<!-- <hr> -->

<section id="diaries_section">
  <h1>Baby Diaries</h1>

  <div id="records">
    <%= render @baby.records %>
  </div>
</section>

<!-- <hr> -->

<section>
  <h1>New Diary</h1>
  <%= form_for([@baby, @new_record]) do |f| %>
    <p class="field">
      <strong><%= f.label :date %>:</strong>
      <%= f.date_field :date %>
    </p>
    <p class="field">
      <strong><%= f.label :weight %>:</strong>
      <%= f.number_field :weight %> g
    </p>
    <p class="field">
      <strong><%= f.label :height %>:</strong>
      <%= f.number_field :height %> cm
    </p>
    <p class="field">
      <strong><%= f.label :first_time %>:</strong>
      <%= f.text_field :first_time %>
    </p>
    <p class="field">
      <strong><%= f.label :note %>:</strong>
      <%= f.text_area :note %>
    </p>
    <div class="actions">
      <%= f.submit "Add New Diary" %>
    </div>
  <% end %>
</section>